* {
	box-sizing: border-box;
	font-family: microsoft yahei,helvetia,pingfang sc,Arial,Tahoma;
	}

body {
	margin: 0;
	padding: 0;
	font: 14px/150% microsoft yahei,helvetia,pingfang sc,Arial,Tahoma;
	text-size-adjust: 100%;
	/* background: #e2e5ef; */
	/* color: #5f6c7e; */
	}
a {
	text-decoration: none;
	/* color: #00a4ff; */
	transition: 0.2s
	}
a:hover {
	/* color: #004aff; */
	}
input,
select,
textarea {
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
.van-button{
   margin:5px;
}